.App {
  text-align: center;
}

.background{
  color: grey;
}

.font{
  color: green;
}

.text{
  position: center;
  font-family: monospace;
}

.Outputs{
  font-size: 20px;
  font-color:green;
  color: lightgreen;
  position: center;
  font-family: monospace;
}


.message{
  font-size: 20px;
  font-color:green;
  color: lightgreen;
  font-family: monospace;
}


.Input{
  position: center;
  padding: 5px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
